.orders {
  margin: 100px auto 0 auto;
  text-align: center;
}

.heading {
  text-align: center;
}

.orderList {
  max-width: 1000px;
  padding: 10px;
  text-align: left;
  margin: 10px auto;
}

.emptyOrderPic {
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 540px) {
  .emptyOrderPic {
    width: 500px;
  }
}